.menu {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.menu ul {
    background-color: #036cdb;
    height: 50px;
}

.menu ul li {
    display: inline-block;
    width: 25%;
    line-height: 50px;
    color: #eee;
    font-family: Consolas, Lucida Console, monospace;

}

.menu ul li:hover {
    background-color: #5b91db;
}
.menu .selected {
    color: red;
}